/* ---------------------------------------------------
    CONTENT Colores
----------------------------------------------------- */
/* ---------------------------------------------------
   PORTFOLIO SECTION
----------------------------------------------------- */
.school-Portfolio {
  padding: 0 20px;
}

.card {
  border: 1px solid #cfcfcf;
  -webkit-box-shadow: 4px 6px 11px #d0c9c9;
          box-shadow: 4px 6px 11px #d0c9c9;
  border-radius: 3px;
}

.card .card-title {
  border-bottom: 1px solid #e4e4e4;
  padding: 11px 20px;
  opacity: 0.8;
}

.cat-content {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 20px;
}

.categories .far, .fab {
  background-color: #dc3545;
  padding: 15px;
  color: #fff;
  font-size: 1.5rem;
  float: left;
  margin-top: 23px;
  height: 54px;
  width: 54px;
}

.categories .success {
  background-color: #28a745 !important;
  color: white;
}

.categories .info {
  background-color: #ffc107;
  color: white;
}

.text {
  margin-left: 15px;
  float: left;
}

.text h3 {
  font-weight: bold;
  font-size: 2.5rem;
  display: block;
  line-height: 1;
  opacity: 0.75;
}

.text h5 {
  font-size: 15px;
  opacity: 0.6;
}

.text h6 {
  font-size: 11px;
  color: #17a2b8;
  margin-bottom: 20px;
}

/* ---------------------------------------------------
   SCHOOL MEMBERS SECTION
----------------------------------------------------- */
.table-section {
  padding: 20px;
  margin: 30px 19px;
  border: 1px solid #cfcfcf;
  -webkit-box-shadow: 4px 6px 11px #d0c9c9;
          box-shadow: 4px 6px 11px #d0c9c9;
  border-radius: 3px;
  background: #fff;
}

.table-section .section-header {
  padding: 11px 20px;
  margin-top: -17px;
  width: 100%;
  border-bottom: 1px solid #e4e4e4;
  font-size: 17px;
  color: #6c757d;
  font-weight: bold;
}

table {
  border-bottom: 1px solid #e4e4e4;
}

.table-section .table td, .table th {
  padding-left: 25px !important;
  border: none !important;
  padding-right: 25px !important;
}

.table .btn {
  font-size: 11px !important;
  padding: 4px 8px !important;
}

.table th {
  color: #333;
  opacity: 0.8;
}

table img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.badge-danger {
  color: #fff;
  background-color: #C71C22;
}

.badge-info {
  color: #fff;
  background-color: #2FA4E7;
}

.badge-success {
  color: #fff;
  background-color: #DD5600;
}

.badge-primary {
  color: #fff;
  background-color: #28a745;
}

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

/* ---------------------------------------------------
   ACTIVITES SECTION
----------------------------------------------------- */
.timeline-section .card {
  margin-bottom: 30px;
}

/** timeline card style **/
.timelineCircle, .t-container::before, .blue::before, .yellow::before, .main::before, .green::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  left: -1px;
  top: 30px;
}

.card-header {
  color: #6c757d;
  font-size: 17px;
  font-weight: bold;
  background: #fff !important;
}

.timeline-section {
  padding: 0 20px;
}

.timeline {
  position: relative;
  padding-bottom: 20px;
}

.timeline::before {
  content: "";
  position: absolute;
  width: 4px;
  background: #dad7d7;
  top: 30px;
  bottom: 0px;
  left: 7%;
  height: 100%;
}

.t-container h6 {
  font-size: 11px;
  color: #6c757d;
}

.t-container h5 {
  margin-top: 20px;
  font-size: 16px;
  color: #6c757d;
}

.t-container .new {
  background: #dc3545;
  padding: 3px 10px;
  color: #fff;
  border-radius: 3px;
  margin-left: 10px;
  font-size: 11px;
}

.t-container {
  padding: 5px 5px 5px 40px;
  position: relative;
}

.t-container::before {
  border: 3px solid #dc3545;
}

.blue::before {
  border: 3px solid #17a2b8;
}

.yellow::before {
  border: 3px solid #ffc107;
}

.main::before {
  border: 3px solid #263544;
}

.green::before {
  border: 3px solid #2ed8b6;
}

/**  What's New Style **/
.solidcircle, .w-content .redsolid, .w-content .greensolid, .w-content .yellowsolid, .w-content .bluesolid {
  border-radius: 50%;
  padding: 10px;
  color: #fff;
  position: absolute;
  left: -11px;
  top: 20px;
}

.w-container {
  padding: 5px 5px 5px 40px;
  position: relative;
}

.w-content .redsolid {
  background-color: #dc3545;
}

.w-content .greensolid {
  background-color: #2ed8b6;
}

.w-content .yellowsolid {
  background-color: #ffc107;
}

.w-content .bluesolid {
  background-color: #17a2b8;
}

.w-container h6 {
  font-size: 11px;
  color: #6c757d;
}

.w-container h5 {
  margin-top: 20px;
  font-size: 16px;
  color: #6c757d;
}

.w-container .new {
  background: #dc3545;
  padding: 3px 10px;
  color: #fff;
  border-radius: 3px;
  margin-left: 10px;
  font-size: 11px;
}

.scroll {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c3c3c3;
}

::-webkit-scrollbar-thumb:hover {
  background: #818181;
  width: 10px;
}

.card-btn {
  padding: 15px 0;
}

@media (max-width: 575.98px) {
  .timelineCircle, .t-container::before, .blue::before, .yellow::before, .main::before, .green::before {
    left: 3px;
  }
  .solidcircle, .w-content .redsolid, .w-content .greensolid, .w-content .yellowsolid, .w-content .bluesolid {
    left: -7px;
  }
  .timeline::before {
    left: 7%;
  }
}
/*# sourceMappingURL=main.css.map */