


/* ---------------------------------------------------
    CONTENT Colores
----------------------------------------------------- */
$mainColor:#263544;
$redColer :#dc3545 ;
$greenColer :#2ed8b6 ;
$yelloColer :#ffc107 ;
$blueColer :#17a2b8;
$font-color:#6c757d;
$border: 1px solid rgb(228, 228, 228);
$outerPadding: 0 20px;
$headerPadding:11px 20px;
$boxshadow:6px 11px #d0c9c9;


/* ---------------------------------------------------
   PORTFOLIO SECTION
----------------------------------------------------- */



.school-Portfolio{
    padding: $outerPadding;
}
.card{
    border: 1px solid rgb(207, 207, 207);
    box-shadow: 4px 6px 11px #d0c9c9;
    border-radius: 3px;
}
.card .card-title{
    border-bottom: $border;
    padding: $headerPadding;
    opacity: 0.8;
}
.cat-content{
    border-bottom: $border;
    margin-bottom: 20px;
}
.categories .far,.fab{
    background-color: #dc3545;
    padding: 15px;
    color: #fff;
    font-size: 1.5rem;
    float: left;
    margin-top: 23px;
    height: 54px;
    width: 54px;
}
.categories .success{
    background-color: #28a745 !important;
    color: white;
}
.categories .info{
    background-color: #ffc107;
    color: white;
}
.text{
    margin-left: 15px;
    float: left;
}
.text h3{
    font-weight: bold;
    font-size: 2.5rem;
    display: block;
    line-height: 1;
    opacity: 0.75;
}
.text h5{
font-size: 15px;
opacity: 0.6;
}
.text h6{
    font-size: 11px;
    color: #17a2b8;
    margin-bottom: 20px;
}

/* ---------------------------------------------------
   SCHOOL MEMBERS SECTION
----------------------------------------------------- */
 
.table-section{
    padding: 20px;
    margin: 30px 19px;
    border: 1px solid rgb(207, 207, 207);
    box-shadow: 4px 6px 11px #d0c9c9;
    border-radius: 3px;
    background: #fff;
}
.table-section .section-header{
    padding: $headerPadding;
    margin-top: -17px;
    width: 100%;
    border-bottom: $border;
    font-size: 17px;
    color: $font-color;
    font-weight: bold;
}
table{
    border-bottom: $border; 
}
.table-section .table td, .table th{
    padding-left: 25px !important;
    border: none !important;
    padding-right: 25px !important;
}
.table .btn {
    font-size: 11px !important;
    padding: 4px 8px !important;
}
.table th{
    color: #333;
    opacity: 0.8;
}
table img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.badge-danger {
    color: #fff;
    background-color: #C71C22;
}
.badge-info {
    color: #fff;
    background-color: #2FA4E7;
}
.badge-success {
    color: #fff;
    background-color: #DD5600;
}
.badge-primary{
    color: #fff;
    background-color: #28a745;
}
.badge-pill {
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
}
.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}


/* ---------------------------------------------------
   ACTIVITES SECTION
----------------------------------------------------- */
.timeline-section .card{
    margin-bottom: 30px;
}
/** timeline card style **/ 
.timelineCircle{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    left: -1px;;
    top: 30px;
}
.card-header{
    color: $font-color;
    font-size: 17px;
    font-weight: bold;
    background: #fff !important;
}
.timeline-section{
    padding: $outerPadding ; 
}
.timeline{
    position: relative;
    padding-bottom: 20px;
}
.timeline::before{
    content: "";
    position: absolute;
    width: 4px;
    background: rgb(218, 215, 215);
    top: 30px;
    bottom: 0px;
    left: 7%;
    height: 100%;
}
.t-container h6{
    font-size: 11px;
    color: $font-color;
}
.t-container h5{
    margin-top: 20px;
    font-size: 16px;
    color: $font-color;
}
.t-container .new{
    background: $redColer;
    padding: 3px 10px;
    color: #fff;
    border-radius: 3px;
    margin-left: 10px;
    font-size: 11px;
}
.t-container{
    padding: 5px 5px 5px 40px;
    position: relative;
}

.t-container::before{
    @extend .timelineCircle ;
    border: 3px solid $redColer;

}
.blue::before{
    @extend .timelineCircle ;
    border: 3px solid $blueColer;
}
.yellow::before{
    @extend .timelineCircle ;
    border: 3px solid $yelloColer;
}
.main::before{
    @extend .timelineCircle ;
    border: 3px solid $mainColor;
}
.green::before{
    @extend .timelineCircle ;
    border: 3px solid $greenColer;
}
/**  What's New Style **/
  
.solidcircle{
    border-radius: 50%;
    padding: 10px;
    color: #fff;
    position: absolute ;
    left: -11px;
    top: 20px;
}
.w-container{
    padding: 5px 5px 5px 40px;
    position: relative;
}
.w-content .redsolid{
    @extend .solidcircle ;
    background-color: $redColer;
}
.w-content .greensolid{
    @extend .solidcircle ;
    background-color: $greenColer;
}
.w-content .yellowsolid{
    @extend .solidcircle ;
    background-color: $yelloColer;
}
.w-content .bluesolid{
    @extend .solidcircle ;
    background-color: $blueColer;
}

.w-container h6{
    font-size: 11px;
    color: $font-color;
}
.w-container h5{
    margin-top: 20px;
    font-size: 16px;
    color: $font-color;
}
.w-container .new{
    background: $redColer;
    padding: 3px 10px;
    color: #fff;
    border-radius: 3px;
    margin-left: 10px;
    font-size: 11px;
}

.scroll{
    max-height: 300px;
    overflow-y:auto;
    overflow-x:hidden; 
}
::-webkit-scrollbar {
    width: 5px;
  }
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
::-webkit-scrollbar-thumb {
    background: rgb(195, 195, 195); 
}
  
::-webkit-scrollbar-thumb:hover {
    background: rgb(129, 129, 129); 
    width: 10px;
}
  
.card-btn{
    padding: 15px 0;
}

@media  (max-width: 575.98px) { 
    .timelineCircle{
        left: 3px;
    } 
    .solidcircle{
        left: -7px;
    }
    .timeline::before{
        left: 7%;
    }
}
// @media (min-width: 992px) , (max-width: 1199.98px){
//     .timelineCircle{
//         left: 0px;
//     } 
//     .solidcircle{
//         left: -7px;
//     }
//     .timeline::before{
//         left: 7%;
//     }
// }

